{% extends "layout.njk" %}

{% block content %}

    <div id="about">
        <div class="logo">
            <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg" alt="Rocketseat">
        </div>
        <div class="text-about">
            <h1>Rocketseat</h1>
            
            <h2>Mais do que uma plataforma de educação em tecnologia, 
            uma comunidade incrível de devs em busca do próximo nível.
            </h2>

            <h3>Tecnologias que utilizamos:</h3>
            <ul>
                <li>JavaScript, HTML & CSS</li>
                <li>NodeJS</li>
                <li>React</li>
            </ul>
            
            <h3>Nossas Redes Sociais:</h3>
            <ul>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"><li>Instagram</li></a>
                <a href="https://www.youtube.com/rocketseat" target="_blank"><li>Youtube</li></a>
                <a href="https://twitter.com/rocketseat" target="_blank"><li>Twitter</li></a>
            </ul>
        </div>
    </div>
</body>
</html>

{% endblock %}